@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>For Customer Serivces, please contact: our authorised retailer Lucerne Luxe:</p>
<br />
<p>Email: <a href="mailto:Ask.Pandora@lucerneluxe.com">Ask.Pandora@lucerneluxe.com</a></p>
<br />
<p><strong>For business development, please contact: </strong><br />
PANDORA Jewelry Asia-Pacific Limited<br />
Suites 3801-04 & 3812-14, 38th Floor,<br />
Tower 6, The Gateway, Harbour City,<br />
Tsim Sha Tsui, Kowloon, Hong Kong<br />
</p>
